@model RentHive.Models.UserDataGetter
@{
    ViewData["Title"] = "Forgot Password";
}
<script>
    $(document).ready(function () {
        var notificationType = '@ViewBag.Noti_Type';
        var notificationMessage = '@ViewBag.Noti_Message';

        if (notificationType && notificationMessage) {
            toastr[notificationType](notificationMessage);
        }
    });
</script>
<div class="loginBox">
    <form asp-action="ForgotPassword" method="post">
        <center>
            <label>Forgot Password</label>
            <div class="animate-renthive">R E N T H I V E</div>
        </center><br />

        <h6>Enter registered Email: &nbsp;</h6><input name="Acc_Email" class="loginInput" placeholder="Email" required /><br /><br />

        <select name="Question" class="securityQuestion">
            <option value="0">Select a security question</option>
            <option value="1">What is the name of your first pet?</option>
            <option value="2">What is your favorite childhood cartoon?</option>
            <option value="3">What is your favorite book or author?</option>
            <option value="4">What was the first concert you attended?</option>
            <option value="5">What is the name of the street you grew up on?</option>
            <option value="6">What is the make and model of your first car?</option>
            <option value="7">What is your favorite food?</option>
            <option value="8">What is the name of your favorite teacher in high school?</option>
            <option value="9">What is the name of the hospital where you were born?</option>
            <option value="10">What is the model of your first mobile phone?</option>
            <option value="11">What is your favorite movie?</option>
            <option value="12">What is the name of the park you visited most as a child?</option>
            <option value="13">What is your favorite holiday destination?</option>
        </select><br /><br />

        <input name="answer" class="loginInput" placeholder="Answer" required /><br />

        <button type="submit" class="loginBtn">Submit</button>
        
    </form>
    <div class="divForgetPass">
        <button class="forgetPass" onclick="location.href='@Url.Action("Login","UserManagement")'">Back to Login</button>
    </div>
</div>
<script>
    window.onpopstate = function () {
        location.reload(); // Refresh the page when the back button is clicked
    };
</script>